## Sayısal değişkenlerin hedef değişkenler ile analizi

In [10]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [11]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)
df=sns.load_dataset("titanic")

In [12]:
df.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked  class    who  adult_male deck  embark_town alive  alone
0         0       3    male  22.0      1      0   7.2500        S  Third    man        True  NaN  Southampton    no  False
1         1       1  female  38.0      1      0  71.2833        C  First  woman       False    C    Cherbourg   yes  False
2         1       3  female  26.0      0      0   7.9250        S  Third  woman       False  NaN  Southampton   yes   True
3         1       1  female  35.0      1      0  53.1000        S  First  woman       False    C  Southampton   yes  False
4         0       3    male  35.0      0      0   8.0500        S  Third    man        True  NaN  Southampton    no   True

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [14]:
cat_cols= [col for col in df.columns if str(df[col].dtypes) in ["category", "bool", "object"]]

In [15]:
num_but_cat= [col for col in df.columns if df[col].nunique()<10 and df[col].dtypes in ["int", "float"]]

In [16]:
cat_but_car=[col for col in df.columns if df[col].nunique()>20 and str(df[col].dtypes) in ["category", "object"]]

In [17]:
cat_cols=[col for col in cat_cols if col not in cat_but_car]

In [18]:
cat_cols= cat_cols + num_but_cat

In [30]:
num_cols=[col for col in df.columns if df[col].dtypes in ["int", "float"]]

In [31]:
num_cols= [col for col in num_cols if col not in cat_cols]

In [32]:
df.groupby("sex")["survived"].mean() # cinsiyete gore hayatta kalma oranlari

sex
female    0.742038
male      0.188908
Name: survived, dtype: float64

In [33]:
def target_summary_with_cat(dataframe, target, categorical_col):
    print(pd.DataFrame({"TARGET_MEAN" : dataframe.groupby(categorical_col)[target].mean()}))

In [34]:
target_summary_with_cat(df, "survived", "sex")

        TARGET_MEAN
sex
female     0.742038
male       0.188908

In [35]:
for col in cat_cols:
    target_summary_with_cat(df, "survived", col)

        TARGET_MEAN
sex
female     0.742038
male       0.188908
          TARGET_MEAN
embarked
C            0.553571
Q            0.389610
S            0.336957
        TARGET_MEAN
class
First      0.629630
Second     0.472826
Third      0.242363
       TARGET_MEAN
who
child     0.590361
man       0.163873
woman     0.756458
            TARGET_MEAN
adult_male
False          0.717514
True           0.163873
      TARGET_MEAN
deck
A        0.466667
B        0.744681
C        0.593220
D        0.757576
E        0.750000
F        0.615385
G        0.500000
             TARGET_MEAN
embark_town
Cherbourg       0.553571
Queenstown      0.389610
Southampton     0.336957
       TARGET_MEAN
alive
no             0.0
yes            1.0
       TARGET_MEAN
alone
False     0.505650
True      0.303538

## Hedef değişkenin sayısal değişkenler ile analizi

In [36]:
df.groupby("survived")["age"].mean()  # ölen ve ya hayatta kalanlarin yas ortalamasi

survived
0    30.626179
1    28.343690
Name: age, dtype: float64

In [37]:
df.groupby("survived").agg({"age": "mean"})   # ölen ve ya hayatta kalanlarin yas ortalamasi

                age
survived
0         30.626179
1         28.343690

In [38]:
def target_summary_with_num(dataframe, target, numerical_col):
    print(dataframe.groupby(target).agg({numerical_col: "mean"}), end= "\n\n\n")

In [39]:
target_summary_with_num(df, "survived", "age")

                age
survived
0         30.626179
1         28.343690

In [40]:
for col in num_cols:
    target_summary_with_num(df, "survived", col)

                age
survived
0         30.626179
1         28.343690


               fare
survived
0         22.117887
1         48.395408